<div>
  <div class="row mb-3">
      <div class="col-3">
          <button type="button" class="btn btn-primary w-100" (click)="sumar()" style="font-size: 30px;">+</button>
      </div>
      <div class="col-3">
          <button type="button" class="btn btn-success w-100" (click)="restar()" style="font-size: 30px;">-</button>
      </div>
      <div class="col-3">
          <button type="button" class="btn btn-danger w-100" (click)="multiplicar()" style="font-size: 30px;">×</button>
      </div>
      <div class="col-3">
          <button type="button" class="btn btn-warning w-100" (click)="dividir()" style="font-size: 30px;">÷</button>
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-3">
          <button type="button" class="btn btn-info w-100" (click)="potencia()" style="font-size: 30px;">^</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-warning w-100" (click)="raiz()" style="font-size: 30px;">√</button>
    </div>
      <div class="col-6">
          <button type="button" class="btn btn-outline-primary w-100" (click)="limpiar()" style="font-size: 30px;">CE</button>
      </div>
  </div>
</div>